<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AppliDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/modules/module2/demonstrations/erreur500.html</location>
  </error-page>
  <servlet>
    <servlet-name>premiereJSPDansWEB_INF</servlet-name>
    <jsp-file>/WEB-INF/modules/module3/demonstrations/premiereJSPDansWEB-INF.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>premiereJSPDansWEB_INF</servlet-name>
    <url-pattern>/modules/module3/demonstrations/secondePremiereJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDelegantAUneJSP</display-name>
    <servlet-name>ServletDelegantAUneJSP</servlet-name>
    <servlet-class>fr.eni.javaee.module3.ServletDelegantAUneJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDelegantAUneJSP</servlet-name>
    <url-pattern>/modules/module3/ServletDelegantAUneJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFournissantInformationAUneJSP</display-name>
    <servlet-name>ServletFournissantInformationAUneJSP</servlet-name>
    <servlet-class>fr.eni.javaee.module3.ServletFournissantInformationAUneJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFournissantInformationAUneJSP</servlet-name>
    <url-pattern>/ServletFournissantInformationAUneJSP</url-pattern>
  </servlet-mapping>
</web-app>